<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Creaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">I N I C I O</a></li>
                <li><a href="{{ url_for('creaciones') }}">P O R T F O L I O</a></li>
                <li><a href="{{ url_for('sobre_mi') }}">M E</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="gallery">
        <div class="gallery-item">
            <img src="/static/img/img7.jpg" alt="Creación 1">
            <div class="overlay">
                <h3>Creación 1</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img5.jpg" alt="Creación 2">
            <div class="overlay">
                <h3>Creación 2</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img6.jpg" alt="Creación 3">
            <div class="overlay">
                <h3>Creación 3</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img2.jpg" alt="Creación 4">
            <div class="overlay">
                <h3>Creación 4</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img1.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 5</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img8.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 6</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img9.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 7</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img10.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 8</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img11.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 9</h3>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/img/img12.jpg" alt="Creación 5">
            <div class="overlay">
                <h3>Creación 10</h3>
            </div>
        </div>
    </div>

    <!-- Pie de pàgina -->
    <footer>
        <p class="footer"> &copy; 2024 S H I N O N. Todos los derechos reservados</p>
    </footer>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>